{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "jest": true,
    "browser": true
  },
  "globals": {
    "document": true
  },
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "react/state-in-constructor": [0],
    "no-param-reassign": 0,
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["label"]
      }
    ]
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
